{% extends "base.html" %}

{% block content %}
<style>
    .players{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .space_player{
        height: 100px; 
        width: 200px;
        background-color: red;
    }
    .my_space{
        position: fixed;
        padding-top: 23rem;
        padding-left: 32rem;
    }
</style>
<div class="div_pai">
    <div class="players">
        {% for player_hand in hands_plays %}
        <div style="padding: 5px;">
            <div class="space_player">
                <p>Jogador {{ forloop.counter }}: {{ player_hand|join:", " }}</p>
            </div> 
        </div>
        {% endfor %}
    </div>
    <div class="my_space">
        <div class="space_player">
            <p>Seu jogador: 3: ♦️8, ♥️K, ♥️Q, ♦️7, ♠️J, ♥️7</p>
        </div> 
    </div>
</div>
{% endblock content %}